.standardButton {
  outline: none;
  border: none;
  cursor: pointer;
  padding: 1.2rem 2.4rem;
  background: var(--brand);
  color: var(--text);
  font-size: var(--text-sm);
  border-radius: 4px;
  position: relative;
  letter-spacing: normal;
  z-index: 20;
  margin: 24px 0px;
  overflow: hidden;
  width: 100%;
  transition: 0.2s opacity;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "__Poppins_5a8ae0", "__Poppins_Fallback_5a8ae0";
}

.standardButton:hover {
  opacity: 0.9;
}
